* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
img {
    height: 100%;
}
.navbar {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: #cbd2a4;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%;
}

.navbar ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.navbar ul > li > a {
    text-decoration: none;
}

.navbar ul > li:hover {
    background-color: #ffffff34;
}

.navbar > button {
    height: 30px;
    width: 100px;
    color: white;
}

@media screen and (max-width: 460px) {
    .navbar ul {
        display: none;
    }
}
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    align-items: center;
    background-color: #f7f7e7;
    margin-bottom: 20px;
    padding-bottom: 20px; ;
    gap: 200px;
}
.features > p {
    width: 20%;
}
body{
    background-color: #f7f7e7; 
}

.user_input {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    background-color: #f7f7e7;
    margin-top: 20px;
    padding: 20px;

    
}

label {
    font-size: 1rem; 
    color: #000; 
    font-weight: bold; 
}

input[type="text"], select {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 200px;
    font-size: 1rem; 
    color: #000; 
    background-color: #ffffff; 
}

.btn {
    height: 35px; 
    padding: 0 15px; 
    border: none; 
    border-radius: 5px; 
    background-color: #6c757d; 
    color: white; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #5a6268; 
}




@media screen and (max-width: 900px) {
    .features {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 10px;
    }
}




/*CSS FOR ABOUT US AND FOOTER WITH RESPONSIVENESS*/


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.about {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #CBD2A4;
}

.about h2 {
    color: #000000;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}


.parallax-bg {
    position: absolute;
    top: 80px; 
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('maze.jpeg'); 
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    z-index: -1;
    opacity: 0.6; 
}


.content {
    position: relative; 
    z-index: 1;
    padding: 20px;
    text-align: center;
}

.content p {
    font-size: 1.5rem;
    color: #000; 
}


footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #CBD2A4;
}

footer h2 {
    color: #000000;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: flex-start; 
    padding-top: 20px;
    flex-wrap: wrap; 
}

.quick, .contact, .privacy {
    display: flex;
    padding: 30px;
    flex-direction: column;
    flex: 1; 
    min-width: 150px; 
}

.quick h3, .contact h3, .privacy h3 {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
}

.quick ul, .contact ul, .privacy ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.quick li, .contact li, .privacy li {
    padding: 10px;
    font-size: 1.2rem;
}

.quick , .contact , .privacy  {
    text-decoration: none;
    color: #000000;
}

.email-link {
    text-decoration: none;
    color: #000000;
}

.email-link:hover {
    color: #000000;
    text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; 
    }
    
    .quick, .contact, .privacy {
        min-width: 100%; 
    }
}

@media (max-width:  480px) {
    .content p {
        font-size: 1.2rem; 
    }
    
    .about h2 {
        font-size: 1.5rem; 
    }
    
    footer h2 {
        font-size: 1.5rem; 
    }
    
    .quick h3, .contact h3, .privacy h3 {
        font-size: 1.2rem; 
    }
    
    .quick li, .contact li, .privacy li {
        font-size: 1rem; 
    }
}